<h1>Spel <%= @game.id  %></h1>
<h2>Vecka <%= @game.week  %></h2>

<div>
  <dl>
    <dt>Leverans från leverantören:</dt>
    <dd><%= @week_record.delivery_from_supplier %></dd>
    <dt>Beställning från kunden:</dt>
    <dd><%= @week_record.order_from_customer %></dd>
    <dt>Leverans till kunden:</dt>
    <dd><%= @week_record.delivery_to_customer %></dd>
    <dt>I lager:</dt>
    <dd><%= @week_record.inventory %></dd>
    <dt>Saldo:</dt>
    <dd><%= @week_record.balance %></dd>
  </dl>

  <%= form_for @week_record do |f| %>
      <%= f.label :order_to_supplier, "Beställning till leverantör" %>
      <%= f.text_field :order_to_supplier %>
      <%= f.submit "Beställ" %>
  <% end %>


</div>