<h1>Spel <%= @game.id  %></h1>

<div>
  <dl>
    <dt>Leverans från leverantören:</dt>
    <dd><%= @current_week.delivery_from_supplier %></dd>
    <dt>Beställning från kunden:</dt>
    <dd><%= @current_week.order_from_customer %></dd>
    <dt>Leverans till kunden:</dt>
    <dd><%= @current_week.delivery_to_customer %></dd>
    <dt>I lager:</dt>
    <dd><%= @current_week.inventory %></dd>
  </dl>
</div>